@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: "Inter", serif;
}

:root{
    --text-color: #fff;
    --bg-color: #212121;
    --hover-color: #ff8800;
}

nav{
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 13pt;
    background-color: var(--bg-color);
}

.right-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

nav ul{
    height: 100%;
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    padding: 0 20px;
}

.left-container b{
    padding: 0 20px;
}

i{
    color: var(--text-color);
}

li{
    list-style: none;
}

nav .left-container .logo{
    color: var(--text-color);
    font-size: 20px;
}

.open-btn, .close-btn{
    display: none;
}

@media (max-width: 565px){
   
    .right-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        width: 300px;

        background-color: #212121;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    }
    .right-container ul{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
 
    


}